<h2>Seach Guitar Players</h2>
<form action='/players'  method='GET'>
    <label>Name</label>
    <input type='text' name='name' value='<%= searchOptions.name %>'> 
    <button type="submit">Search</button>
</form>
<br>
<% players.forEach(player => { %>
    <div><%= player.name %> </div>
<% }); %>