<header>
    <nav>
        <a href='/'>Guitar- Apedia</a>
        <ul>
            <li><a href='/players'>Players</a></li>
            <li><a href='/players/new'>Add Player</a></li>
            <li><a href='/guitars'>Guitars</a></li>
            <li><a href='/guitars/new'>Add Guitar</a></li>
        </ul>
    </nav>
</header>